<footer>
    <div class="section-5 text-center">
        <h4 style="margin-top:5%;">Get Template Design From Daily Tution</h4>
        <h4 class="my-4">If you need any help</h4>

        <div class="form-inline justify-content-center">
            <input type="text" name="Email" id="email" placeholder="Email" size="40" class="form-control px-4 py-2">
            <input type="button" value="Cantact Us" class="btn btn-danger px-4 py-2">
        </div>
        <div class="social" style="margin:5%;">
        <div class="d-flex flex-row justify-content-center">
            <i class="fab fa-facebook fa-2x m-2"></i>
            <i class="fab fa-twitter fa-2x m-2"></i>
            <i class="fab fa-instagram fa-2x m-2"></i>
            <i class="fab fa-youtube fa-2x m-2"></i>
            <i class="fab fa-whatsapp fa-2x m-2"></i>
        </div>
        </div>
    </div>
                    
        <div class="copyright">
            <div class="footer-copy"> Copyright &copy; 2018, Kumar Sanjay</div>
        </div>
    

</footer>
<div class="scrollup">
    <a class="scrolltop" href="#">Top
    <i class="fa fas-chevron-up"></i>
    </a>
</div>
