<nav class="navbar navbar-expand-md navbar-light">
    <a href="#" class="navbar-brand ml-3"><span style="color:blueviolet;">K</span><span>s</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-targets="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-level="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse" id="navbarMenu">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
               <a href="/" class="nav-link">Home</a>
           </li>
           <li class="nav-item">
                <a href="/technews" class="nav-link">Tech News</a> 
           </li>
           <li class="nav-item">
                <a href="" class="nav-link">My Learnings</a> 
           </li>
           
           <li class="nav-item">
                <a href="" class="nav-link">Pages</a> 
           </li>
           <li class="nav-item">
                <a href="" class="nav-link">Contact Us</a> 
           </li>
       </ul>
<form action="" class="form-inline my-2 my-lg-0">
  <button class="btn menu-right-btn border" type="submit">
      Template
  </button>
</form>
    </div>
</nav>
