<div class="section-1">
    <div class="container text-center">
<h1 class="heading-1">Modern Web Features</h1>
<h1 class="heading-2">& Upgraded with latest available Web Scripts</h1>
<p class="para-1">I am a learner. I design web appliction from available online free recoures. I use those concept with my own ideas and requirements of Web Application. In the journey of learning, I has been designed some of web templates, which are listed here.  </p>
<h4 class="display-7"> My Journey So Far are Listed Here!</h4>
<div class="row justify-content-center text-center">
    <div class="col-md-4">
        <div class="card">
        <img src="/assets/img/bird.jpg" alt="Bird" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title">Dynamic Webpage with PHP My SQL </h4>
            <p class="card-text">Six year ago, I had learned to design dynamic web page. I learned PHP and MYSQL. I successfully designed and hoisted it. It was a great achievement for me. But, i faced terrible experiance from that. As the site was gaining popularity, unlawfull element or we can say web critics hacking it and obstracting my sites. I got fed up am not able to overcome with those problem and left web designing. But that learning had paid me remuneration in my professional developments.      </p> </div>
        </div>
    </div>
    <div class="col-md-4">
            <div class="card">
                    <img src="/assets/img/hornbeam.jpg" alt="Hornbean" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Python !</h4>
                        <p class="card-text">In year 2018, I agaain started to learn web development with Flask. I had watched and read several contents available at youtube and blogs related to pythons fremwork flash for web development  and web scrapping with python. I got some knowledge of web scrapping and web development with Flask. In the Process of learning got the idea of beautifulsoup and jinja template. It was very fun and i enjoy a lot in this period. I scrapped some of the webs and collected information without actually opening it in the explorer.I also got a little idea of Flash fremwork.</p>
                    </div>
                    </div>
    </div>
    <div class="col-md-4">
            <div class="card">
                    <img src="/assets/img/pasta.jpg" alt="Pasta" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Node.Js & Bootstrap</h4>
                        <p class="card-text">Currenty, I am learning Node.js and bootstrap 4. This site is created  with bootstrap 4 template and its dynamic contects are loaded with Node.js application in backend. I have uploaded the source code at github and hoisted the site on Heroku. I have opted free hoisting option at Heroku. The list of contents learned from available online recources are listed for the development of this page. The whole process of learning is awsome and i will regularly upgarding and adding some new features or contents.  </p>
                    </div>
                    </div>
    </div>


</div>    
</div>
    </div>
