<div class="container-fluid p-0">
    <div class="site-content">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <h1 class="site-title">Learn to Design Website</h1>
                <p class="site-desc">I am ready to provide Free Web Templates for your Business</p>
                <div class="d-flex flex-row">
                    <input type="button" value="Available Template" class="btn site-btn1 px-4 py-3 mr-4 btn-dark">
                    <input type="button" value="Customized Template" class="btn site-btn2 px-4 py-3 mr-4 btn-light">

                
                </div>
            </div>

        </div>
    </div>
</div>
