<div class="container-fluid">
    <div class="site-content">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <h1 class="site-title">Run a Marathon with Aditi! </h1>
                <p class="site-desc">I am a fitness freak... enjoy at Gym and Mobile more than any thing. I had just strated to take part in Marathon. Today, i have just fished 10K marathon at Kolkata. It's <a href="http://iemuemkolkatamarathon.org/">IEM UEM KOLKATA MARATHON 2019</a>. The 1st was Tata Steel 25K. I had finished 25k marathon in 3 hours 18 minutes.
                </p><div class="d-flex flex-row">
                    <input type="button" value="Available Template" class="btn site-btn1 px-4 py-3 mr-4 btn-dark">
                    <input type="button" value="Customized Template" class="btn site-btn2 px-4 py-3 mr-4 btn-light">

                
                </div>
            </div>

        </div>
    </div>
</div>
