<!doctype html>
<html lang="en">
  <head>
    
<% include partials/head.ejs %>

  </head>
  <body>
    <% include partials/header.ejs %>
    <main>
    <% include partials/top.ejs %>
    <% include partials/mylearning.ejs %>
    <% include partials/referances.ejs %>

    <div class="section-3">
      <h3 class=" display-3 text-center"><%= notice %></h3>

            
           
</div>         
 

<% include partials/bottom.ejs %>
</main>           
<% include partials/footer.ejs %>
<% include partials/script.ejs %>
 </body>
</html>